body
{
    padding: 0px;
    margin: 0px;
}

#logo_site
{
    height: 80%;
}

.topo
{
    position: relative;
    float: left;
    width: 100%;
    height: 250px;
    background-color: rgb(155, 155, 155);

    z-index: 100;
}

.logo
{
    position: relative;
    float: left;
    width: 100%;
    height: 215px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu
{
    position: relative;
    float: left;
    width: 100%;
    height: 35px;
    background-color: orange;
    
}

.menu-item
{
    position: relative;
    float: left;
    width: 150px;
    color: white;
    height: calc(100% - 2px);
    text-align: center;

    transition: 0.3s;

    box-sizing: unset;

    z-index: 100;
}

.menu-item:hover
{
    background-color: rgb(204, 133, 0);
    height: 110%;
    padding-top: 9px;
    border-bottom-right-radius: 5px;

    box-shadow: black 3px 3px 5px;
}

.submenu
{
    position: absolute;
    top: 46px;
    left: 5px;
    width: 180px;
    /* background-color: white; */

    display: none;
    transition: 0.5;
}

.menu-item:hover .submenu
{
    display: block;
}

.submenu-item
{
    position: relative;
    float: left;
    width: 100%;
    height: 35px;
    color: black;
    background-color: blueviolet;

}

.submenu-item:hover
{
    width: 110%;
    background-color: rgb(79, 17, 138);
}

.maxmenu-servicos {
    position: absolute;
    top: 40px;
    left: -300px;
    width: 600%;
    height: 200px;
    background-color: rgb(202, 202, 202);

    display: none;
}

#i-maxmenu-servicos:hover .maxmenu-servicos {
    display: block;
}

.conteudo
{
    position: relative;
    float: left;
    width: 80%;
    height: 2200px;
    margin-left: 10%;
    margin-right: 10%;

    background-color: aliceblue;
}

footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 150px;

    background-color: black;
}

@media screen and (max-width: 480px)
{
    .topo
    {
        height: 100px;
    }

    .logo
    {
        height: 70px;
    }

    .menu
    {
        height: 30px;
    }

    .conteudo
    {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}